@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(71 85 105);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: rgb(237, 238, 240);
  }
}
